In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df = data.iloc[:,1:]
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label = LabelEncoder()
df['Species'] = label.fit_transform(df['Species'])

In [6]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()

In [9]:
# X = sc.fit_transform(X)

In [10]:
# X

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(X,y , test_size = 0.2)

In [13]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120,)
(30,)

In [14]:
from sklearn.naive_bayes import MultinomialNB , GaussianNB , BernoulliNB

In [15]:
mnb = MultinomialNB()
gnb = GaussianNB()
bnb = BernoulliNB()

# Using Multinomial NB

In [16]:
mnb.fit(x_train, y_train)
y_pred = mnb.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
print(accuracy_score(y_test, y_pred))

0.9333333333333333

In [19]:
final_df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})

In [20]:
final_df.head()

     Real Values  Predicted Values
61             1                 1
92             1                 1
140            2                 2
43             0                 0
48             0                 0

# Using Gaussian NB

In [21]:
gnb.fit(x_train, y_train)
y_pred2 = gnb.predict(x_test)

In [22]:
y_test2 = y_test.copy()

In [23]:
print(accuracy_score(y_test2, y_pred2))

0.9666666666666667

In [24]:
final_df2 = pd.DataFrame({'Real Values':y_test2, 'Predicted Values':y_pred2})

In [25]:
final_df2.head()

     Real Values  Predicted Values
61             1                 1
92             1                 1
140            2                 2
43             0                 0
48             0                 0

# Using Bernoulli NB

In [26]:
bnb.fit(x_train, y_train)
y_pred3 = bnb.predict(x_test)

In [27]:
y_test3 = y_test.copy()

In [28]:
print(accuracy_score(y_test3, y_pred3))

0.23333333333333334

In [30]:
final_df3 = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred3})
final_df3

     Real Values  Predicted Values
61             1                 2
92             1                 2
140            2                 2
43             0                 2
48             0                 2
52             1                 2
28             0                 2
24             0                 2
115            2                 2
108            2                 2
137            2                 2
14             0                 2
134            2                 2
83             1                 2
29             0                 2
68             1                 2
122            2                 2
42             0                 2
21             0                 2
93             1                 2
74             1                 2
51             1                 2
6              0                 2
18             0                 2
44             0                 2
7              0                 2
104            2                 2
45             0                 2
33             0                 2
15             0                 2